@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
     .btnLogin {
        @apply bg-secondaryRed md:py-[12px] py-[10px]  md:px-[36px] px-[28px] tracking-wider text-lg   rounded-[5px] text-whiteColor
     }
     
     .container{
      @apply max-w-[1170px] w-full mx-auto 
     }
     .about{
      @apply  lg:w-[270px] w-full h-[230px] lg:h-[230px] border-2 rounded-[5px] m-0 p-0 text-center text-grayBlack shadow-sm flex flex-col justify-center
     }
}

.header_blur{
   z-index: 9;
   box-shadow: 3px 4px -8px 3px #ddd;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(35px);
   color: #fff;
}

.swiper-pagination-bullet{
   width: 14px !important;
   height: 14px !important; 
   border: 2px solid #fff !important;
   opacity: 100% !important;
   background: #808080 !important;
 }
 .swiper-pagination-bullet-active{
     background: #DB4444 !important;
     border: none !important;
 }
 .swiper{
   padding-bottom: 0px !important;
 }
 
 .swiper-slide.swiper-slide-next h4,
 .swiper-slide.swiper-slide-next p{
   color: #fff !important;
 }
 .swiper-pagination{
   top: 90% !important;
 }